* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: rgb(227, 231, 238);
}

html, body {
    width: 100%;
    height: 100%;
}

#header {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
}

#calculator {
    width: 70%;
    background-color: rgb(188, 204, 250);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

button {
    width: 5%;
}

#calc-top {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reset-button {
    width: 15%;
    height: 100%;
}

#calc-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#row-one, #row-two, #row-three {
    display: flex;
    justify-content: space-around;
}